[
  {
    "scope": "https://api.github.com:443",
    "method": "PUT",
    "path": "/repos/chiubaka/test-repo/vulnerability-alerts",
    "body": "",
    "status": 204,
    "response": "",
    "rawHeaders": [
      "X-OAuth-Scopes",
      "repo",
      "X-Accepted-OAuth-Scopes",
      "repo",
      "github-authentication-token-expiration",
      "2022-10-10 00:34:31 UTC",
      "X-GitHub-Media-Type",
      "github.v3; format=json",
      "X-RateLimit-Limit",
      "5000",
      "X-RateLimit-Remaining",
      "4977",
      "X-RateLimit-Reset",
      "1657666037",
      "X-RateLimit-Used",
      "23",
      "X-RateLimit-Resource",
      "core"
    ],
    "responseIsBinary": false
  }
]
